<!DOCTYPE html>
<html> 
<body>
    <form class="selection" action = "/option" method = "post">
    <img src=""></img>
    <label for="Quality">Video Quality</label>
    <p><select id="VideoQuality" name="videoQuality">
        <option value="SelectVidQuality">Select Video Quality</option>
        <option value="144p">140p</option>
        <option value="240p">240p</option>
        <option value="360p">360p</option>
        <option value="480p">480p</option>
        <option value="720p">720p</option>
        <option value="1080p">1080p</option>
    </select></p>
        <button class="btn btn-danger" type="submit" name = "submit" value = "frames">submit</button>
    </form>
  </body>
</html>